<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue Test</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <style>
        body {
            padding: 40px 20px;
        }

        .color-red {
            color: red;
        }

        .color-blue {
            color: blue;
        }

        .is-loading {
            background: blue;
        }

    </style>
    <!-- <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/bulma"> -->
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
</head>
<body>
<div id="icanmart" class="container">
    <!--    <ic-message title="ICANMART NOTICE" body="Hello World"></ic-message>-->

    <div>
        <tabs>
            <tab name="해야할 일" :selected="true">
                <div>
                    <div>
                        <!--                        <h1 :class="className">{{ reversedTitle }}</h1>-->
                        <!--                        <p v-text="new Date()"></p>-->
                        <!--                        <h2>To Do</h2>-->
                        <form class="form-group">
                            <input type="text" class="form-control" id="taskInput" v-model="taskInput">
                            <button type="submit" id="submit" @click="addTask">add</button>
                        </form>
                    </div>
                    <div>
                        <h4>Incomplete Tasks</h4>
                        <ul>
                            <li v-for=" task in incompleteTasks" v-text="task.message"></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Complete Tasks</h4>
                        <task-list></task-list>
                    </div>
                    <div class="container">
                        <modal v-if="showModal" @close="showModal = false">
                            <p> Insert Any Text Here </p>
                        </modal>
                        <button @click="showModal=true">Show Modal</button>
                    </div>
                    <div>
                        <h4>All tasks</h4>
                        <ul>
                            <li v-for="task in tasks">{{ task.message }}</li>
                        </ul>
                    </div>
                </div>
            </tab>
            <tab name="구입할 것">TO BUY CONTENT</tab>
            <tab name="구입할 것" :selected = "true">
                <!--                TO BUY CONTENT-->
<!--                <coupon @applied="onCouponApplied"></coupon>-->
                <coupon></coupon>

            </tab>
        </tabs>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../../js/icanmart.js"></script>
<!-- <script type ="text/javascript" src="https://www.jsdelivr.com/package/npm/bulma"></script> -->
<!-- button class -->
<!-- <button :class="{'is-loading':isLoading}" @click="toggleClass">Make Blue</button> -->
<!--  <button :class="{'is-loading':isLoading}" @click="toggleClass">Make Blue</button>
 <button @click="reset">Reset</button>
 <button :disabled="disabled">Disabled</button> -->
<!-- End button class -->

<!-- button binding -->
<!--  <div id="icanmart">
     <button
         :title="title"
         @click="method"
         v-text="title"
     >Hover Me</button>
 </div>

 <script>
     var icanmart = new Vue({
         el: '#icanmart',
         data: {
             title: "Now the title is being set through Javascript."
         },
         methods: {
             method(){
                 this.title = "clicked"
             }
         }
     });
 </script> -->
<!-- End button binding -->

<!-- Lesson2. Add names -->
<!-- <div id="icanmart">
    <input id="input" type="text">
    <button id="button">Add</button>
    <ul>
        <li v-for="name in names" v-text="name"></li>
    </ul>
</div>

<script>
    var sample2 =
    new Vue({
        el: '#icanmart',
        data: {
            names: ['jane', 'John', 'Mary']
        },
        mounted() {
            document.querySelector('#button').addEventListener('click', () => {
                let name = document.querySelector('#input').value;
                sample2.names.push(name);
            });
        }
    });
</script> -->
<!-- END lesson 2 -->

<!-- Lesson 1 -->
<!-- <div id="icanmart">
    <input type="text" id="input" v-model="message">
    <p> This value of the input is : {{ message }} </p>
</div>

<script>
    // document.querySelector('#input').value = data.message;

    new Vue({

        el : "#icanmart",
        data: {
            message: 'Hello World'
        }

    });
</script> -->
</body>
</html>
