<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vue Test</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/bulma">
</head>
<body>
<div id="icanmart">
    <input type="text" id="input" v-model="message">
    <button id="button">Add</button>
    <p>The Value of the input is : {{ message }}</p>
    <ul>
<!--        <li v-for="name in names">{{ name }}</li>-->
        <li v-for="name in names" v-text="name"></li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="">


</script>
<!--<script src="icanmart.js"></script>-->
</body>
</html>
