.section-features {
    padding: 1.5rem 0;
    //background-image: linear-gradient(
    //        to bottom,
    //        rgba($theme-blue--light, 0.8),
    //        rgba($theme-blue--light, 0.7),
    //);
}

.feature-box {
    background-color: rgba(white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 4px;
    //box-shadow: 0 0.1rem 0.3rem rgba(black, 0.15);
    transition: transform 0.3s;

    &__icon {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: linear-gradient( to bottom, $theme-blue, $theme-blue--light);
        -webkit-background-clip: text;
        color: transparent;
    }
    &__text {
        font-size: 1rem;
        color: grey;
    }
    outline-offset: 0.4rem;
    &:hover {
        transform: translateY(-.6em) scale(1.1);
        //border: 0.2rem dashed $theme-color;
        outline: 0.2rem dashed $theme-blue;
    }
}

.section-items {

}

.rotate-card {
    perspective: 150rem;
    position: relative;
    height: 20rem;

    &__side {
        //background-color: deepskyblue;
        color: white;
        font-size: 2rem;

        height: 20rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.15);


        &--front {
            background-color: white;
            color: #0d5dc1;

        }

        &--back {
            //background-color: orangered;
            transform: rotateY(180deg);

            &-1 {
                //background-image: linear-gradient(to right bottom, $color-green, $color-green);
                background-image: linear-gradient(
                        to right bottom,
                        $color-tertiary,
                        $color-blue--light
                );
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    &__picture {
        background-size: contain ;
        height: 14rem;
        &--1 {
            background-image: url(../images/dongjun.jpg);
        }
    }

    &__heading {
        color: black;
    }

    &__detail {
        color: gray;
    }
}

