.section-features {
    padding: 1.5rem 0;
    //background-image: linear-gradient(
    //        to bottom,
    //        rgba($theme-blue--light, 0.8),
    //        rgba($theme-blue--light, 0.7),
    //);
}

.feature-box {
    background-color: rgba(white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 4px;
    //box-shadow: 0 0.1rem 0.3rem rgba(black, 0.15);
    transition: transform 0.3s;

    &__icon {
        font-size: 3rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: linear-gradient(to bottom, $theme-blue, $theme-blue--light);
        -webkit-background-clip: text;
        color: transparent;
    }

    &__text {
        font-size: 1rem;
        color: grey;
    }

    outline-offset: 0.4rem;

    &:hover {
        transform: translateY(-.6em) scale(1.1);
        //border: 0.2rem dashed $theme-color;
        outline: 0.2rem dashed $theme-blue;
    }
}

.section-items {

}

.rotate-card {
    perspective: 150rem;
    position: relative;
    height:33rem;

    &__side {
        //background-color: deepskyblue;
        //color: white;
        font-size: 1rem;

        height: 33rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        border-radius: 1px;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.15);


        &--front {
            &--1 {
                background-color: white;
                color: #0d5dc1;
            }

        }

        &--back {
            //background-color: orangered;
            transform: rotateY(180deg);

            &--1 {
                //background-image: linear-gradient(to right bottom, $color-green, $color-green);
                background-image: linear-gradient(
                        to right bottom,
                        $color-blue,
                        $color-blue--light
                );
            }

            &--2 {
                //background-image: linear-gradient(to right bottom, $color-green, $color-green);
                background-image: linear-gradient(
                        to right bottom,
                        $color-green,
                        $color-green--light
                );
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        //background-size: cover ;
        background-size: cover;
        background-repeat: no-repeat;
        height: 17rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
            background-image: linear-gradient(
                    to right bottom,
                    $color-blue,
                    $color-blue--light
            ), url(../images/dongjun.png);
        }

        &--2 {
            background-image:
            //    linear-gradient(
            //        to right bottom,
            //        $color-green,
            //        $color-green--light
            //),
                url(../images/cabaccin.png);
        }
    }

    &__heading {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: white;
        position: absolute;
        top: 8rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem, 1.5rem;

        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                    to right,
                    rgba($color-blue, .85),
                    rgba($color-blue--light, .85)
            );
        }
        &--2 {
            background-image: linear-gradient(
                    to right,
                    rgba($color-green, .85),
                    rgba($color-green--light, .85)
            );
        }
    }

    &__detail {
        padding: 1rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.2rem;
                padding: 0.8rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
        }

    }

    // Back Side
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    &__item-name {
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__price-box {
        text-align: center;
        margin-bottom: 6rem;
        color: white;
    }

    &__price-value {
        font-size: 4rem;
        font-weight: 100;
    }


}

