// Variables
@import 'variables';

//tailwindcss
@import 'tailwind';

//Card
@import 'card';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

$color-primary: red;
$color-secondary: green;
$color-tertiary: blue;
$color-text: darkgrey;
$color-text-dark: grey;
$color-text-light: silver;

@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

html, body {
    height: 100vh;
}

body {
    box-sizing: border-box;
}

nav {
    //margin: 30px;
    //background-color: $color-primary;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

input {
    @apply .bg-blue-light;
}

.navigation {
    list-style: none;
    float: left;

    li {
        display: inline-block;
        margin-left: 30px;

        &:first-child {
            margin: 0;
        }

        a:link {
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.header {

}

.button__group {
    @apply py-3;
}

.button {
    @apply .bg-blue .no-underline .text-white .rounded-lg .py-2 .px-5 .mr-3 .mt-3;
    box-shadow: 0 2px 2px 0 #b0eaff;
}

.card {
    @apply .bg-white .p-5 .rounded-lg .shadow;
}

.main__menu-card {
    @apply .card .text-grey .mb-3;
}

//.button {
//    @apply
//}

//.navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}

//html {
//    font-size: 12px;
//    @screen lg {
//        html {
//            font-size: 16px;
//        }
//    }
//}


.content > * {
    margin-bottom: 1em;
}

.section {
    padding-left: 20px;
    padding-right: 20px;
}

//Alogolia Search
.ais-Hits-item, .ais-InfiniteHits-item, .ais-InfiniteResults-item, .ais-Results-item {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    width: calc(100% - 1rem);
    border: 1px solid #c4c8d8;
    box-shadow: 0 2px 5px 0 #e3e5ec;

}

///* carousel height, as percentage of width */
//.carousel {
//    //padding-bottom: 33.3%;
//}
//
///* viewport inherit size from carousel */
//.carousel .flickity-viewport {
//    position: absolute;
//    width: 100%;
//}
//
//.carousel-cell {
//    width: 100%; /* full width */
//    height: 100%; /* height of carousel */
//    margin-right: 10px;
//}
//
/////* position dots up a bit */
//.flickity-page-dots {
//    bottom: -22px;
//}
///* dots are lines  안되는데?*/
//.flickity-page-dots .dot {
//    height: 4px;
//    width: 40px;
//    margin: 0;
//    border-radius: 0;
//}



