.button__group {
    @apply py-3;
}

.button {
    @apply .bg-blue .no-underline .text-white .rounded-lg .py-2 .px-5 .mr-3 .mt-3;
    box-shadow: 0 2px 2px 0 $theme-color;
}

.btn {
    @apply  .border-2 .px-2 .ml-2 ;
    border-color: $color-text-light;
    font-size: 0.9rem;
    color: $color-text-light;
    &-danger {
        border-color: $color-primary;
        font-size: 0.9rem;
        color: $color-primary;
    }

}

.is-minimal {
    border-bottom: 1px solid lightgray;
}

.is-blue {
    background-color: deepskyblue;
    color: white;
}
