.button__group {
    @apply py-3;
}

.button {
    //background-color: $theme-blue--light;
    @apply .no-underline .text-white .text-sm .rounded-lg .py-2 .px-5 .mr-3 .mt-3;
    &:last-child {
        margin-right: 0;
    }
    &.is-outlined {
        background-color: white;
        @apply .border .text-blue-500;
        border-color: grey;
        //&:hover {
        //    background-color: black;
        //    color: white;
        //}
    }

    box-shadow: 0 2px 2px 0 $theme-blue--lightest;
}

.btn {
    @apply .border-2 .px-2 .ml-2 ;
    border-color: $color-text-light;
    font-size: 0.9rem;
    color: $color-text-light;

    &-danger {
        border-color: $color-primary;
        font-size: 0.9rem;
        color: $color-primary;
    }
}

.btn-text {

    &:link,
    &:visited {
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.12rem;
        border-bottom: 2px solid $theme-blue;
        color: $theme-blue;
        padding: 0.2rem 0.4rem;
        display: inline-block;
        transition: all .3s;
    }

    &:hover {
        background-color: $theme-blue;
        color: white;
        box-shadow: 0 0.3rem 0.6rem -0.1rem rgba(0, 0, 0, 0.15);
        transform: translateY(-0.1rem);
    }

    &:active {
        box-shadow: 0 0.3rem 0.6rem -0.1rem rgba(0, 0, 0, 0.15);
        transform: translateY(0);
    }
}

.is-minimal {
    border-bottom: 1px solid lightgray;
}

.is-blue {
    background-color: deepskyblue;
    color: white;
}
