nav {
    display: flex;
    justify-content: center;
    //margin: 30px;
    //background-color: $color-primary;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    ul {
        display: flex;
        li {
            display: inline-block;
            margin-right: 1em;
            &:first-child {
                //margin: 0;
            }
            span {
                background-color:$theme-blue;
                padding: 0.3rem 0.6rem;
            }
        }
    }
}

.navigation {
    list-style: none;
    float: left;

    li {
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }

        a:link {
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

