$theme-blue: rgba(0, 198, 245, 1.0);
$theme-blue--light: #78C5ef ;
$theme-blue--lighter: #bcdefa ;
$theme-blue--lightest:#eff8ff;

$color-black: #0a0a0a;
$color-primary: #E31D2E;
$color-secondary: #73AD21;
$color-secondary--light: #ffb900;
$color-secondary--dark: #ff7730;

$panton-green: #88B04b;
$panton-green--light:#b1cc89;
$panton-green--dark: #557524;



$color-tertiary: #0d5dc1; // denim
$color-tertiary--light: #2998ff;
$color-tertiary--dark: #5643fa;

$color-text: darkgrey;
$color-text-dark: grey;
$color-text-light: silver;
$color-blue-light: rgba(168, 234, 253, 1.0);

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$coke: #E31D2E; // coka cola red
$aliceblue: aliceblue;
$grey: dimgray;
$sony: rgba(0, 112, 199, 1.0);
$denim: #0d5dc1;

$body-bg: #f8fafc;

.tred {
    color: $color-primary;
}

.tgrey {
    color: dimgray;
}

.tsony {
    color: $sony;
}
bggrey {
    background-color: rgba(245, 246, 249, 1.0);
}

.bg- {

    &grey {
        background-color: rgba(245, 246, 249, 1.0);
    }

    &red {
        background-color: $color-primary;
    }


    &sony {
        background-color: rgba(0, 112, 199, 1.0);
    }

    &denim {
        background-color: #0d5dc1;
    }

}
